h1 {
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 3px; }

h2 {
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 3px; }

h3 {
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 3px; }

h4 {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 3px; }

p {
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 3px; }

* {
  box-sizing: border-box;
  transition: 0.3s ease-in-out; }

p {
  line-height: 40px;
  color: #afaca9; }

i:hover {
  opacity: 0.7; }

button {
  background-color: red;
  color: #ffffff;
  width: 150px;
  height: 40px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer; }

button:hover {
  background-color: #ffffff;
  color: red;
  border: 2px solid red; }

body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  overflow-x: hidden;
  font-family: 'Glory', sans-serif; }

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */ }

/* change color of the body */
body.color-white h1, body.color-white h2, body.color-white h3, body.color-white h4, body.color-white h5, body.color-white button, body.color-white i {
  color: #ffffff; }
body.color-white button:hover {
  background-color: #ffffff;
  color: red;
  border: 2px solid red; }

body.color-red h1, body.color-red h2, body.color-red h3, body.color-red h4, body.color-red h5, body.color-red button, body.color-red i {
  color: red; }
body.color-red button:hover {
  background-color: red;
  color: red;
  border: 2px solid red; }

body.color-green h1, body.color-green h2, body.color-green h3, body.color-green h4, body.color-green h5, body.color-green button, body.color-green i {
  color: green; }
body.color-green button:hover {
  background-color: green;
  color: red;
  border: 2px solid red; }

/* start changing color of the site */
/* end changing color of the site */
/* start cicle cursor */
.circle-cursor {
  z-index: 2100 !important;
  border: 3px solid red;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  display: none;
  height: 35px;
  width: 35px;
  opacity: 0,7; }

/* end circle cursor */
.show-fixed-menu-top, .close-fixed-menu-top {
  display: block;
  z-index: 3000;
  position: fixed;
  left: 50px;
  top: 20px;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  height: 50px;
  width: 50px;
  cursor: pointer;
  color: #ffffff; }
  .show-fixed-menu-top div, .close-fixed-menu-top div {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #ffffff;
    height: 50px;
    width: 50px;
    position: relative;
    left: -2px;
    top: -2px;
    padding-top: 7px;
    font-size: 20px; }
  .show-fixed-menu-top div:hover, .close-fixed-menu-top div:hover {
    position: relative;
    left: 2px;
    top: 2px; }

.close-fixed-menu-top {
  display: none; }

.inside-fixed-menu-top {
  display: none;
  z-index: 2500;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  .inside-fixed-menu-top h1 {
    text-align: center;
    font-size: 80px;
    opacity: 0.7;
    cursor: pointer; }
  .inside-fixed-menu-top h1:hover {
    font-weight: bold;
    font-family: cursive;
    opacity: 1; }

.show-inside-fixed-menu-top {
  display: block;
  animation: showInsideFixed 0.5s ease-in-out; }
@keyframes showInsideFixed {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.hide-inside-fixed-menu-top {
  animation: hideInsideFixed 0.5s ease-in-out; }
@keyframes hideInsideFixed {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* start fixed menu bottom */
.fixed-menu-bottom {
  z-index: 3000;
  position: fixed;
  left: 20px;
  bottom: 20px; }
  .fixed-menu-bottom li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none; }
  .fixed-menu-bottom a {
    color: #ffffff;
    text-decoration: none; }
  .fixed-menu-bottom a:hover {
    color: red; }

/* end fixed menu bottom */
/* start header */
header {
  z-index: 2200;
  width: 100%;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  /*  padding-left: 5%;
    padding-right: 5%; */
  /* start hide inside burger */
  /* end hide inside burger */ }
  header img {
    width: 80px;
    height: 80px;
    cursor: pointer; }
  header .nav li {
    display: inline-block;
    margin-left: 25px;
    list-style: none; }
    header .nav li a {
      text-decoration: none;
      color: #ffffff; }
    header .nav li a:hover {
      color: red;
      border-bottom: 4px solid red;
      padding-bottom: 5px; }
    header .nav li .active-link {
      color: red;
      border-bottom: 4px solid red;
      padding-bottom: 5px; }
  header .fas {
    display: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    font-size: 29px;
    top: 25px;
    cursor: pointer;
    animation: burgerAndClose 0.5s ease-in-out forwards; }
@keyframes burgerAndClose {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
  header .hide-show-and-close-burger {
    animation: hideShowAndCloseBurger 0.5s ease-in-out forwards; }
@keyframes hideShowAndCloseBurger {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0);
    display: none; } }
  header .inside-burger {
    display: none; }
  header .show-inside-burger {
    position: fixed;
    display: none;
    top: 150px;
    /*left:50%; */
    margin-left: -45%;
    margin: auto;
    background-color: red;
    width: 90%;
    border-radius: 5px;
    animation: showInsideBurger 0.5s ease-in-out forwards; }
    header .show-inside-burger .nav-inside-burger {
      padding-left: 0px; }
      header .show-inside-burger .nav-inside-burger li {
        cursor: pointer;
        text-align: center;
        padding: 15px;
        margin-left: 0px;
        display: block;
        margin-top: 15px;
        animation: showInsideBurger 1s ease-in-out  1 normal forwards; }
        header .show-inside-burger .nav-inside-burger li a {
          text-align: center;
          font-size: 26px;
          text-decoration: none;
          color: #ffffff;
          /* position: relative;
           left:2.5%; */ }
        header .show-inside-burger .nav-inside-burger li a:hover {
          color: red; }
    header .show-inside-burger li:hover, header .show-inside-burger li:hover a {
      color: red;
      background-color: #ffffff; }
@keyframes showInsideBurger {
  0% {
    opacity: 0;
    transform: scaleX(0); }
  100% {
    opacity: 1;
    transform: scaleX(1); } }
  header .hide-inside-burger {
    animation: hideInsideBurger 0.5s ease-in-out forwards; }
@keyframes hideInsideBurger {
  0% {
    opacity: 1;
    transform: scaleX(1); }
  100% {
    opacity: 0;
    transform: scaleX(0); } }
/* end header */
/* start section 1*/
.section1 {
  position: fixed;
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%; }
  .section1 div {
    height: 400px;
    width: 50%; }
    .section1 div h1 {
      margin-left: 100px; }
    .section1 div h1:not(.active-title) {
      display: none; }
    .section1 div .active-title {
      animation: showTitle 0.5s ease-in-out; }
@keyframes showTitle {
  0%, 100% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; } }
    .section1 div p:not(.active-paragraph) {
      display: none; }
    .section1 div .active-paragraph {
      animation: showTyper 0.5s ease-in-out;
      height: 70px; }
@keyframes showTyper {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }
    .section1 div button {
      margin-top: 30px; }
  .section1 img {
    width: 50%;
    height: 400px; }

/* end section 1*/
/*start section 2 scroll to left instead of scrolling to top*/
.scroll-to-left {
  overflow-x: hidden;
  z-index: 2200;
  /* position: relative;
   top:800px; */
  position: relative;
  top: 150px;
  width: 180%;
  border-spacing: 10px; }
  .scroll-to-left i {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    opacity: 1; }
  .scroll-to-left i:hover {
    color: #ffffff;
    opacity: 1; }
  .scroll-to-left div {
    height: 420px;
    text-align: center;
    display: table-cell;
    margin-left: 100px;
    padding: 5px;
    background-color: #000000;
    min-width: 300px;
    opacity: 0.7;
    cursor: pointer; }
    .scroll-to-left div h1 {
      z-index: 2200;
      text-align: center; }
    .scroll-to-left div img {
      width: 80%;
      height: 80%; }
  .scroll-to-left div:hover {
    opacity: 1; }

.show-hide-scrolling-images {
  animation: showHideScrollingImages 0.5s ease-in-out; }
@keyframes showHideScrollingImages {
  0% {
    transform: scaleX(1);
    opacity: 1; }
  100% {
    transform: scaleX(0);
    opacity: 0; } }
/*end section 2 scroll to left instead of scrolling to top*/
/* start styling for mobile version */
@media (max-width: 1000px) {
  .inside-fixed-menu-top {
    margin-top: 100px; }
    .inside-fixed-menu-top h1 {
      font-size: 40px; }

  h1 {
    font-size: 40px; }

  h2 {
    font-size: 30px; }

  h3, p {
    font-size: 20px; }

  h4 {
    font-size: 16px; }

  header {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%; }
    header .nav {
      display: none; }
    header .fas {
      position: relative;
      visibility: visible;
      opacity: 1; }
    header .show-burger {
      display: block; }
    header .show-inside-burger {
      display: block; } }
/* end styling for mobile version */
.projects {
  /*.pr1{
      width: 125%;
      position: relative;
      top:150px;
      left:-25%;
      div{
          width: 50%;
          float: left;
          border: 5px solid red;
         // width: 100%;
          height: 300px;
          background-color: white;
      }
  } */ }
  .projects .pr1, .projects .pr2, .projects .pr3 {
    width: 100%;
    position: relative;
    top: 150px;
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
    /*  display: grid;
      grid-template-columns: repeat(auto-fill, 50%); */
    padding: 10px; }
    .projects .pr1 div, .projects .pr2 div, .projects .pr3 div {
      border-radius: 10px;
      opacity: 0.6;
      display: table-cell;
      min-width: 750px;
      border: 5px solid red;
      height: 300px;
      background-color: yellow;
      text-align: center; }
      .projects .pr1 div h1, .projects .pr2 div h1, .projects .pr3 div h1 {
        color: #000000; }

/*# sourceMappingURL=style.css.map */
